VITE_OPENWEATHER_API_KEY=ta_cle_ici
VITE_JSON_SERVER_URL=http://localhost:3001
VITE_SENTRY_DSN=dns_sentry_du_projet
VITE_GA4_MEASUREMENT_ID=id_ga4_du_projet
VITE_FLAGSMITH_ENVIRONMENT_KEY=cle_environnement_flagsmith_du_projet
VITE_SLACK_WEBHOOK_URL=url_webhook_slack_du_projet
VITE_HONEYCOMB_API_KEY=cle_api_honeycomb_du_projet